/* Enter your custom styles here */
.MainLoginPage{
    background-image: url("../images/LoginPageM.png") !important;
    background-size: cover !important;
    background-position: center !important;
}
.customInputClass {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 0.25rem 0.5rem;
    border-radius: 2px;
    margin-bottom: 10px;
}
.customInputClass::placeholder {
    color: white;
 font-weight: 400;
 font-family: 'Times New Roman', Times, serif;
      font-size: 0.9rem;  
    opacity: 0.8;
}
.customInputClass:focus{
    border: 1px solid blue !important;
}
.customButtonClass {
    background-color: white;
    font-size: small;
    font-weight: 600;
    border-radius: 2px;
    margin-top: 1.10rem;
    border: 2px solid white;
    color:#0040B0;
}

.customButtonClass:hover {
    background-color: white;
    border-color: white;
    cursor: pointer;
    color: black;
}

.customButtonClass:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.forgotPassText{
    color: white !important;
    margin-left: 6.80rem;
   
}

/* login page css end */
.TextClassHeader{
    color: white !important;
}
.LabelClassHeader{
    color: azure !important;
}
.HeaderCardCss{
    background-image:linear-gradient(to right,#925FE2,#DFCFF7) !important;
    
    color: White !important;
}
.SideNavigationCss{
    /* background-image:linear-gradient(to bottom,#925FE2,#DFCFF7) !important; */
    /* background-image:linear-gradient(to bottom,#ff6d607b ,#DFCFF7) !important;  */
    background-image:linear-gradient(to bottom,white,#ffeaeb) !important;
}
.HeaderCssTt{
  
      /* background-image:linear-gradient(to right,#925FE2,#DFCFF7) !important; */
      background-image:linear-gradient(to right,white,#ffeaeb) !important;
        color: White !important;
}

/* Income Page */
.sapAddIncomeCss{
    color: #00a63e !important;
}
.sapAddExpenseCss{
    /* color: #e80d16 !important; */
    color:#dd6100 !important;
}
.sapAddAddTaskCss{
    color: #a55dfd !important;
}
.sapAddInvestCss{
    color: #3b90fe !important;
}
.sapBackgroundIncomeCss{
    background-color: #e6faee !important;
}
.sapBackgroundExpenseCss{
    background-color: #ffeaeb !important;
}
.sapBackgroundNoticeCss{
    background-color: #f6ecff !important;
}
.sapBackgroundInvestCss{
    background-color: #e9f2ff !important;
    /* border:1px dotted black !important; */
}

.Separater {
  border-left: 0.5px solid gray;
 height: 100px !important;
}